<% if @book_query %>
  <div class="row-fluid">
    <div class="span3">
      <%= f.label :title %>
      <%= f.text_field :title, value: @book_query[:title].to_s + " " + @book_query[:subtitle].to_s if @book_query if @book_query %>
    </div>
    <div class="span3">
      <%= f.label :authors, "Author(s)" %>
      <%= f.text_field :authors, value: @book_query[:authors].to_s if @book_query %>
    </div>
    <div class="span3">
      <%= f.label :publisher %>
      <%= f.text_field :publisher, value: @book_query[:publisher].to_s if @book_query %>
    </div>
    <div class="span3">
      <%= f.label :publication_year, "Publication Year" %>
      <%= f.text_field :publication_year, value: @book_query[:publication_year].to_s if @book_query %>
    </div>
  </div>
  <br />
  <div class="alert alert-success">Book detected! We've populated these fields for you!</div>
<% end %>
<% if @error %>
  <% error_type, message = @error.first %>
  <div class="alert alert-<%= error_type %>"><%= message %></div>
<% end %>
