<table class="table table-striped">
  <tr>
    <th>Thumbnail</th>
    <th>ISBN</th>
    <th><%= sort_link @search, :title, "Title" %></th>
    <th><%= sort_link @search, :author, "Author(s)" %></th>
    <th><%= sort_link @search, :publisher, "Publisher" %></th>
    <th><%= sort_link @search, :publication_year, "Year" %></th>
    <th><%= sort_link @search, :condition, "Condition" %></th>
    <th><%= sort_link @search, :price, "Price" %></th>
    <th>Description</th>
    <th>Contact</th>
  </tr>
<tbody>
  <% (@listings || get_browse_data).each do |l| %>
    <tr>
      <td><%= image_tag l[:thumbnail], alt: "thumbnail", width: "75" %></td>
      <td><%= l[:isbn] %></td>
      <td><%= l[:title] %></td>
      <td><%= l[:author] %></td>
      <td><%= l[:publisher] %></td>
      <td><%= l[:publication_year] %></td>
      <td><%= condition_to_s l[:condition] %></td>  
      <td class="price"><%= number_to_currency(l[:price]) %></td>
      <td><%= l[:description_of_condition] %></td>
      <td><center><%= link_to (image_tag 'friend_icon.png', alt: "friend-icon.png"), "http://www.facebook.com/#{l[:uid]}" %></center></td>
    </tr>
  <% end %>
  </tbody>
</table>
