<input type="hidden" name="q[s]" id="q_s" value=<%= params[:q][:s] if params[:q] %>>
<br />
<table class="table table-striped" id="listings">
  <tr>
    <th><%= sort_link @search, :created_at, "Posted", {friends: params[:friends]} %></th>
    <th>Thumbnail</th>
    <th>ISBN-13</th>
    <th><%= sort_link @search, :title, "Title", {friends: params[:friends]}  %></th>
    <th><%= sort_link @search, :author, "Author(s)", {friends: params[:friends]}  %></th>
    <th><%= sort_link @search, :publisher, "Publisher", {friends: params[:friends]}  %></th>
    <th><%= sort_link @search, :publication_year, "Year", {friends: params[:friends]}  %></th>
    <th><%= sort_link @search, :condition, "Condition", {friends: params[:friends]}  %></th>
    <th><%= sort_link @search, :price, "Price", {friends: params[:friends]}  %></th>
    <th>Description</th>
    <% if current_user %><th>Contact</th><% end %>
  </tr>
  <tbody id="listings-body">
    <%= render @listings %>
  </tbody>
</table>
<div class="pull-right row" id="paginator"><%= paginate @listings %></div>
<br />
