<div class="pull-right" id="paginator"><%= paginate @listings %></div>
<br />
<table class="table table-striped" id="listings">
  <tr>
    <th>Thumbnail</th>
    <th>ISBN-13</th>
    <th><%= sort_link @search, :title, "Title" %></th>
    <th><%= sort_link @search, :author, "Author(s)" %></th>
    <th><%= sort_link @search, :publisher, "Publisher" %></th>
    <th><%= sort_link @search, :publication_year, "Year" %></th>
    <th><%= sort_link @search, :condition, "Condition" %></th>
    <th><%= sort_link @search, :price, "Price" %></th>
    <th>Description</th>
    <th>Contact</th>
  </tr>
  <tbody>
    <%= render 'listings' %>
  </tbody>
</table>
