<% if @error %>
  <% error_type, message = @error.first %>
  <div class="alert alert-<%= error_type %>">
    <a class="close" data-dismiss="alert" href="#">&times;</a>
    <%= message %>
  </div>
<% elsif @book_query %>
  <div class="container-fluid media well alert alert-info" id="book_preview">
    <a class="close" data-dismiss="alert" href="#">&times;</a>
    <h2 class="media-heading">Book Preview</h2>
    <br />
    <div class="row-fluid">
      <div class="span2">
        <%= image_tag @book_query[:thumbnail].to_s, alt: "book thumbnail", class: "pull-left media-object;" %>
      </div>
      <div class="container span10 media-body pull-right">
        <strong>Title:</strong> <%= @book_query[:title].to_s + " " + @book_query[:subtitle].to_s %><br />
        <strong>Author(s):</strong> <%= @book_query[:authors].join(', ') %><br />
        <strong>Publisher:</strong> <%= @book_query[:publisher].to_s %><br />
        <strong>Publication Year:</strong> <%= @book_query[:publication_year].to_s %><br />
        <strong>Description:</strong> <%= @book_query[:description].to_s %>
      </div>
    </div>
  </div>
<% end %>

