<% listings = TextbookListingsController.get_textbook_listings(current_user.uid) %>
<% unless listings.empty? %>
  <h3>Your Textbook Listings:</h3>
  <br />
<% end %>
<% listings.each do |t| %>
  <div class="row-fluid">
      <div class="well">
        <button class="close">&times;</button>
        <strong>Title:</strong> <%= t[:title].to_s %><br />
        <strong>Author(s):</strong> <%= t[:author].to_s %><br />
        <strong>Publisher:</strong> <%= t[:publisher].to_s %><br />
        <strong>Publication Year:</strong> <%= t[:publication_year].to_s %><br />
        <strong>Condition:</strong> <%= condition_to_s(t[:condition]) %>
        <strong>Price:</strong> <%= t[:price].to_s %>
        <strong>ISBN:</strong> <%= t[:isbn].to_s %>
        <strong>Listing Description:</strong> <%= t[:description_of_condition].to_s %>
      </div>
    </div>
<% end %>

