<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title), "Texts4Terps") %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">Texts4Terps</a>
        <ul class="nav pull-right">
          <li<%=' class=active' if yield(:title) == "Home" %>><%= link_to "Home", root_path %></li>
          <li<%=' class=active' if yield(:title) == "Buy" %>><%= link_to "Buy", buy_path %></li>
          <li<%=' class=active' if yield(:title) == "Sell" %>><%= link_to "Sell", sell_path %></li>
        </ul>
      </div>
    </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
